span {
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
}

.text-link {
    cursor: pointer;
    color: #B65A5A;
    font-weight: bold;
}

.log-out {
    color:#B65A5A;
    cursor: pointer;
}