<div class="w-100 bg-white pt-2 d-flex justify-content-around">
    <h1>Welcome, {{ userName }}</h1>
    <h1 class="log-out" 
    (click)="logOut()">Log Out</h1>
</div>
<div class='col-12 d-flex align-content-center justify-content-center'>
    <app-phonelist-card
    class="col-4 m-5"
    label="Rubrica">
        <div class="d-flex justify-content-around">
            <div class="col-10">
                <app-input-text [(ngModel)]="searchString" placeholder="Cerca per nome del contatto"></app-input-text>
            </div>

            <div class="col-1 mx-1">
                <app-button buttonClass="d-flex primary-button" (buttonClicked)="findContactsByName()">
                    <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
                </app-button> 
            </div>

            <div class="col-1">
                <app-button (buttonClicked)="newContact()" buttonClass="d-flex primary-button">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </app-button> 
            </div>
        </div>

        <div class="pt-2" *ngIf="!userContactList.length; else showList">
            <span class="text-link"> Nessun contatto. Aggiungine uno usando il tasto [+] </span>
        </div>

        <ng-template #showList>
            <div *ngFor="let contact of contactListSearch; index as i" class="pt-2">
                <app-contact-card
                [contact]="contact"
                [selected]="contact.id === contactToOpen.id"
                (selectContact)="editContact($event)"
                (deleteContact)="deleteContact($event)"
                >
                </app-contact-card>
            </div>
        </ng-template>

    </app-phonelist-card>

    <app-phonelist-card
    class="col-4 m-5"
    [isOpen]=isRightOpen
    >
        <app-phonelist-edit
        [contactToEdit]="contactToOpen"
        [prefixList]="prefixList"
        (updateContact)="updateContact($event)"
        (closeEdit)="onClose();"
        >
    </app-phonelist-edit>
    </app-phonelist-card>
</div>



